@charset "utf-8";
/* CSS Document */

table, td, th
{
border:1px solid green;

}
th
{
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9ad945 /*{a-bar-background-start}*/), to( #7eb238 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9ad945 /*{a-bar-background-start}*/, #7eb238 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9ad945 /*{a-bar-background-start}*/, #7eb238 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9ad945 /*{a-bar-background-start}*/, #7eb238 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9ad945 /*{a-bar-background-start}*/, #7eb238 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9ad945 /*{a-bar-background-start}*/, #7eb238 /*{a-bar-background-end}*/);
}
