@charset "utf-8";
/* CSS Document */

.home_initial_header_img{display:block;margin:0 auto;text-align:center;padding-top:20px;}
.home_tagline{padding-top:15px;padding-bottom:15px;font-size:15px;color:#808080;margin:0 auto;text-align:center;}